@using InternetSP.Models
@model List<Speed>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Speed</h2>
<div class="card">
    <div class="card-header bg-light">
        [<a asp-action="CreateUpdate">Create Speed</a>]
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a asp-action="CreateUpdate" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" id="confirm" onclick = "return confirm('Record will be deleted permanently. Are you sure?');">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

